<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <!-- 관리자 페이지 통합 CSS -->
    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/css/manager/base.css}" />
      <link rel="stylesheet" th:href="@{/css/manager/layout.css}" />
      <link rel="stylesheet" th:href="@{/css/manager/components.css}" />
      <link rel="stylesheet" th:href="@{/css/manager/tables.css}" />
      <link rel="stylesheet" th:href="@{/css/manager/forms.css}" />
      <link rel="stylesheet" th:href="@{/css/manager/details.css}" />
    </th:block>
  </head>
  <body></body>
</html>
